{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      },
    ],
    "@babel/react",
    // "@babel/es2015"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }],
    ["@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true,
      }
    ]
  ]
}