{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }],
    ["@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}