.hello {
  text-align: center;
  font-size: 32px;
  color: #fff;
  margin-top: 200px;
  transform: rotate(30deg);
  .btn{
    height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 30px;
    margin: 30px 10px;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
  }
}